<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ltw</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>

	</welcome-file-list>

	<servlet>
		<servlet-name>pxu.edu.vn.bai01.HelloWorld</servlet-name>
		<servlet-class>pxu.edu.vn.bai01.HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pxu.edu.vn.bai01.HelloWorld</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pxu.edu.vn.bai03.HelloForm</servlet-name>
		<servlet-class>pxu.edu.vn.bai03.HelloForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pxu.edu.vn.bai03.HelloForm</servlet-name>
		<url-pattern>/HelloForm</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>pxu.edu.vn.bai03.LogFilter</filter-name>
		<filter-class>pxu.edu.vn.bai03.LogFilter</filter-class>
		<init-param>
			<param-name>test-param</param-name>
			<param-value>Initialization Paramter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>pxu.edu.vn.bai03.LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>pxu.edu.vn.bai03.ThongTin</servlet-name>
		<servlet-class>pxu.edu.vn.bai03.ThongTin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pxu.edu.vn.bai03.ThongTin</servlet-name>
		<url-pattern>/ThongTin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>pxu.edu.vn.bai04.LoginPage</servlet-name>
		<servlet-class>pxu.edu.vn.bai04.LoginPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pxu.edu.vn.bai04.LoginPage</servlet-name>
		<url-pattern>/LoginPage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyServlet1</servlet-name>
		<jsp-file>/dtconfig.jsp</jsp-file>
		<init-param>
			<param-name>username</param-name>
			<param-value>tuyen</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>thaouyen1733</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet1</servlet-name>
		<url-pattern>/dtconfig</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>username</param-name>
		<param-value>tuyen</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>thaouyen1733</param-value>
	</context-param>
	
</web-app>